*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    height: 70px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px;
}
.fa-bars{
    font-size: 25px;
    margin: 10px 20px 20px 10px;   /* tương ứng với top right botton left */ 
} 
/* #header_left i{
    margin: 10px;
} */
#header_left img{
    width: 160px;  /*n 120 heigt: 40*/
    height: 60px;
    object-fit: cover;   /* làm nét ảnh*/
    margin-left:  -10px;
}
#header_centre{
    height: 30px;
    border: 1px solid #9d9898;   /* solid làkiểu đường liền */
}
#header_centre input{
    width: 550px;
    height: 99%;
     border: none; 
     padding: 10px;
}
#header_centre button{
    height: 100%;
    width: 50px;
    /* border: none; */
}
.fa-search{
    color: #ccc;
}
#header_right svg{
    margin-left: 15px;
    margin-right: 10px;
    font-size: 20px;
    color: #a19b9b;
    cursor: pointer;
}



#main{
    height: calc(100vh - 70px);
    display: flex;

}
#side_bar{
    height: 100%;
    width: 210px;
    padding: 10px;
    overflow: scroll;
} 
.category{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}
.category span{
    margin-left: 24px;
}
.category:hover{
    cursor: pointer;
    background-color: #888;
}
#content{
    height: 100%;
    width: 100%;
    
    overflow: scroll;
}


.videos{
    padding: 20px;
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
.video{
    width: 25%;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    padding: 6px;
    margin-bottom: 45px;
}
.thumbnail{
    width: 100%;
    height: calc(100% - 90px);
    position: relative;
}
.thumbnail:hover .fill{
    display: block;
}
.fill{
    display: none;
    text-align: center;
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 156px;
    height: 100%;
    background-color: #0000006e;
}
.iconPlay{
    margin-right: 10px;
}
.thumbnail img{
    width: 100%;
    height: 100%;
}

.title{
    height: 40px;
    width: 100%;
    margin-top: 5px;
    display: flex;
    /* margin-top: 10px; */
}

.author img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.title_content{
    margin-left: 10px;
}
.title_content h4{
    font-size: 17px;
    margin-bottom: 5px;
}
.channelTitle{
    font-size: 14px;
}
.chanelName2{
    font-size: 14px;
}
.itemCategory{
    margin-bottom: 10px;
    border-bottom: 0.2px solid #ebebeb;
    margin-left: 5px;
}
.iconCategory{
    color: #606060;
}
.itemCategory a{
    text-decoration: none;
    color: #030303;
}
